body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: rgb(158, 154, 154);
    padding: 20px;
    border-radius: 8px;
}

button {
    cursor: pointer;
}

#mensagem {
    color: rgb(134, 93, 240);
    margin-top: 10px;
}
